@charset "UTF-8";
@use "base/variable" as *;
@use "base/mixin" as *;

// ========================================
// Box Model & Global Styles
// ========================================
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $font-suit;
  color: $font-color-default;
}

html {
  --window-w: 100vw;
  --window-h: 100vh;
  background: $background-color-pc;
  font-size: 18px;

  @include media(false, tablet) {
    background: $background-color-mo;
  }
}

:root {
  --base-ratio: 0.75;
  --base-size: 1536;
  --base-percent: 100vw;

  // UIkit
  --lightbox-icon-color: #000;

  @include media(false, tablet) {
    --base-ratio: 1;
    --base-size: 1;
    --base-percent: 1px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-suit;
}

.flex {
  display: flex;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 3fr;

  &-left {
    border-right: 1px solid $border-100;
  }

  @include media(false, tablet) {
    grid-template-columns: auto;
  }
}

.border-bottom {
  border-bottom: 1px solid $border-100;

  @include media(false, tablet) {
    border-bottom: 1px solid $border-500;
  }
}

strong {
  font-weight: 700;
}

.gradient-animation {
  animation: gradient-animation 3s linear infinite;
  background-image: linear-gradient(to left, #403B4A 0%, #E7E9BB  51%, #403B4A  100%);
  background-clip: text;
  background-size: 200% auto;
  font-weight: 700;
  color: transparent;
}

@keyframes gradient-animation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  transition: all .4s cubic-bezier(.25, .46, .45, .94);
  opacity: 0;

  @include media(false, tablet) {
    display: none;
  }
}

.uk-lightbox {
  background: transparent;
  backdrop-filter:blur(10px);
}

.uk-icon:not(.uk-preserve) [stroke*="#"]:not(.uk-preserve) {
  stroke: var(--lightbox-icon-color) !important;
}

.uk-position-top-right {
  margin: 0;
}

.uk-close {
  padding: to_vw(8);
  backdrop-filter:blur(10px);
}

.scroll-to-top-button {
  position: fixed;
  right: to_vw(12);
  bottom: to_vw(12);
  width: to_vw(20);
  opacity: .1;
  transition: opacity .1s ease-in-out;

  img {
    width: 100%;
    height: auto;
  }

  &--view {
    right: calc(50% - to_vw(325));
  }

  &:hover {
    opacity: 1;
  }

  @include media(false, tablet) {
    &--view {
      right: to_vw(12);
    }
  }
}