@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.resumeWrapper {
  a {
    text-decoration: underline;

    &:hover {
      opacity: .5;
    }
  }

  .section {
    padding: 0 12px;
    margin-bottom: 60px;

    @include media(false) {
      padding: 0;
    }
  }

  .sectionTitle {
    border-bottom: $border-dark;
  }

  .gridFour {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 6px 0;

    &:first-child {
      border-bottom: 1px solid $border-subtle;
    }

    span {
      font-size: 13px;
      font-weight: 500;
    }

    p {
      font-size: 13px;

      strong {
        font-size: 14px;
      }
    }

    a {
      display: block;
    }

    @include media(false, tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 6px 24px;
      padding: 12px 0;

      &:first-child {
        border-bottom: 1px solid $border-strong;
      }
    }
  }

  .gridOneThree {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 6px;
    padding: 18px 6px;

    & + .gridOneThree {
      border-top: 1px solid $border-subtle;
    }

    @include media(false, tablet) {
      display: block;
      padding: 18px 12px;

      & + .gridOneThree {
        border-top: 1px solid $border-dark;
      }
    }
  }

  .gridOneTwo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 12px 0;

    & + .gridOneTwo {
      border-top: 1px solid $border-strong;
    }

    @include media(false, tablet) {
      display: block;
      padding: 24px 0;
    }
  }

  .idArea {
    padding: 12px;

    @include media(false, tablet) {
      padding: 0 12px;
    }
  }

  .teamArea {
    display: flex;
    flex-direction: column;
    gap: 12px;

    a, span {
      width: fit-content;
      font-size: 14px;
      font-weight: 500;
    }

    li {
      font-size: 13px;

      &:last-child {
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    @include media(false, tablet) {
      a, span {
        font-size: 16px;
      }

      ul {
        margin-bottom: 24px;
      }

      li {
        font-size: 13px;
      }
    }
  }

  .descArea {
    .brief {
      @include wordBreak;
      font-size: 13px;
      padding-bottom: 12px;
      border-bottom: 1px solid $border-strong;
    }

    dl {
      dt {
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 500;
      }

      dd {
        font-size: 12px;
      }
    }

    ul {
      margin-bottom: 12px;

      li {
        position: relative;
        width: fit-content;
        padding-left: 8px;
        margin-bottom: 6px;
        font-size: 13px;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "·";
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    @include media(false, tablet) {
      .brief {
        padding-bottom: 24px;
        font-size: 14px;
      }

      ul {
        li {
          font-size: 13px;
        }
      }

      dl {
        margin-bottom: 24px;

        dt {
          margin-bottom: 6px;
        }

        dd {
          font-size: 13px;
        }
      }
    }
  }
}