@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

$gridCnt: 4;

.gridWrapper {
  display: grid;
  grid-template-columns: repeat($gridCnt, 1fr);
  grid-template-rows: auto;
  height: 100vh;
  background: $bg-subtle;

  a:hover {
    text-decoration: unset;
  }

  > div {
    border-right: 1px solid $border-default;
    border-bottom: 1px solid $border-default;

    @include media($from: tablet) {
      &:nth-child(#{$gridCnt}n) {
        border-right: 0;
      }

      &:nth-last-child(-n+#{$gridCnt}) {
        border-bottom: 0;
      }
    }
  }

  @include media(false, tablet) {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

    > div {
      border-right: 0;
      border-bottom: 1px solid $border-dark;
    }
  }
}