@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.bubble {
  &_wrap {
    position: relative;

    &.video {
      .bubbleContent {
        top: unset;
        right: 12px;
        bottom: 12px;
        left: unset;
        position: fixed;
        transform: unset;
        transform-origin: right bottom;

        video {
          width: 500px;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }

  &Content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 6px);
    z-index: 1;
    white-space: nowrap;
    padding: 6px 12px;
    border-radius: 8px;
    background: $text-default;
    box-shadow: 0 3px 8px 0 rgba(10, 10, 10, 0.2);
    scale: 0;
    transition: scale .5s ease-in-out;
    transform-origin: left top;

    &.on {
      scale: 1;
    }

    .inner {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    a {
      color: $text-inverse;
      font-size: 12px;
      font-weight: 400;
      transition: opacity .2s ease-in-out;

      &:hover {
        opacity: .9;
      }
    }
  }

  @include media(false, tablet) {
    &Content {
      position: fixed;
      top: unset;
      right: 12px;
      bottom: 12px;
      left: unset;
      width: calc(100% - 24px);
      transform: unset;
      transform-origin: right bottom;
    }
  }
}