@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.header {
  .inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .logo {
    height: $header-height;
    padding: 0 6px;
    border-bottom: 1px solid $border-subtle;
    font-size: 64px;
    line-height: .8;
  }

  .nav {
    border-left: 1px solid $border-subtle;

    li {
      overflow: hidden;
      position: relative;
      height: 50px;
      border-bottom: 1px solid $border-subtle;
      text-align: right;

      a {
        position: relative;
        z-index: 1;
        display: block;
        height: 100%;
        padding: 0 6px;
        transition: color .4s cubic-bezier(.25, .46, .45, .94);
        text-decoration: underline;
        font-size: 32px;
        font-weight: 500;
        font-family: $font-suit;
        color: $text-disabled;

        @include media($from: tablet) {
          &:hover {
            color: $text-default;
          }
        }
      }
    }
  }

  @include media(false, tablet) {
    .inner {
      align-items: flex-end;
      padding: 12px;
    }

    .logo {
      height: auto;
      padding: 0;
      border-bottom: 0;
      font-size: 56px;
    }

    .nav {
      display: flex;
      flex-direction: column;
      gap: 6px;
      border-left: 0;

      li {
        height: auto;
        border-bottom: 0;

        a {
          padding: 0;
          font-size: 16px;
          font-weight: 500;
          color: $text-default;
        }
      }
    }
  }
}