@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.feedWrapper {
}

.gridBoxLeft {
  height: calc(100vh - to_vw(100));

  @include media(false, tablet) {
    height: auto;
  }
}

.feedArea {
  overflow: hidden;
  position: relative;
  height: calc(100vh - to_vw(100));
}

.feedList {
  overflow-y: auto;

  li {
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      text-decoration: unset;
      padding: 2px 0;

      @include media($from: tablet) {
        &:hover {
          .date, .title {
            color: #75a1dc;
          }

          svg {
            fill: #75a1dc;
          }
        }
      }
    }
  }

  @include media(false, tablet) {
    li {
      a {
        &::before {
          background: $border-300;
        }
      }
    }
  }
}

.yearGroup {
  padding: to_vw($space-100);
}

.yearLabel {
  @include fontSize(12, 16);
  color: $color-neutral-300;

}

.yearLabel,
.date,
.title {
  transition: color .3s ease-in-out;
  font-family: $font-system;
  font-weight: 500;

  @include media(false, tablet) {
    color: $font-color-default;
  }
}

.date {
  width: to_vw(60);
  @include fontSize(10, 15);
  color: $color-neutral-400;

  @include media(false, tablet) {
    @include fontSize(12, 16);
  }
}

.title {
  @include fontSize(12, 16);
  color: $color-neutral-500;

  svg {
    margin-left: to_vw(4);
    fill: $color-neutral-500;
    transition: fill .4s ease-in-out;
  }

  @include media(false, tablet) {
    @include fontSize(16, 24);

    svg {
      fill: $font-color-default;
    }
  }
}

.noResults {
  padding: to_vw($space-400);
  text-align: center;
  font-style: italic;
  opacity: 0.7;
}