@charset "UTF-8";

@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.gridBoxLeft {
  height: calc(100vh - #{$header-height});

  @include media(false, tablet) {
    height: auto;
  }
}

.feedArea {
  overflow: hidden;
  position: relative;
  height: calc(100vh - #{$header-height});
}

.feedList {
  overflow-y: auto;
  height: 100%;

  li {
    a {
      display: flex;
      justify-content: flex-start;
      position: relative;
      text-decoration: unset;
      padding: 2px 0;

      @include media($from: tablet) {
        &:hover {
          .date, .title {
            color: $color-accent;
          }

          svg {
            fill: $color-accent;
          }
        }
      }
    }
  }

  @include media(false, tablet) {
    height: auto;

    li {
      a {
        &::before {
          background: $border-strong;
        }
      }
    }
  }
}

.yearGroup,
.date {
  //width: 100px;
}

.yearGroup {
  padding: 6px;
}

.yearLabel {
  font-size: 13px;
  color: $text-disabled;
}

.yearLabel,
.date,
.title {
  transition: color .3s ease-in-out;
  font-weight: 500;

  @include media(false, tablet) {
    color: $text-default !important;
  }
}

.date {
  width: 60px;
  font-size: 13px;
  color: $text-subtle;

  @include media(false, tablet) {
    font-size: 13px;
  }
}

.title {
  flex: 1;
  font-size: 13px;
  color: $text-muted;

  svg {
    margin-left: 4px;
    fill: $text-muted;
    transition: fill .4s ease-in-out;
  }

  @include media(false, tablet) {
    color: $text-default;

    svg {
      fill: $text-default;
    }
  }
}

.noResults {
  padding: 24px;
  text-align: center;
  font-style: italic;
  opacity: 0.7;
}