@charset "UTF-8";

@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.viewWrapper {
  width: calc((100vw / 3) - to_vw(12));
  padding: to_vw(8) 0 to_vw($space-2000);
  margin: 0 auto;

  @include media(false, tablet) {
    width: 100%;
    padding: to_vw(12) to_vw(12) to_vw($space-2000);
  }
}

.viewHeader {
  padding: to_vw($space-100) 0 to_vw($space-600);
  margin-bottom: to_vw($space-600);
  border-bottom: 1px solid $border-300;

  .date {
    margin-bottom: to_vw($space-1000);
    @include fontSize(14);

    span {
      font-weight: 400;
    }

    a {
      text-decoration: underline;
      font-weight: 700;
    }
  }

  h1 {
    font-family: $font-system;
    @include fontSize(20, 24);
    font-weight: 500;
  }
}

.viewBody {
  article {
    & + article {
      margin-top: to_vw($space-1000);
    }

    p {
      @include fontSize(14, 21);

      strong {
        display: initial;
      }
    }
  }

  header {
    > * {
      padding-left: to_vw(12);
    }
  }

  section {
    margin-top: to_vw($space-700);

    > * {
      padding-left: to_vw(12);
    }

    h3 {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: to_vw(6);
        left: 0;
        width: to_vw(3);
        height: 50%;
        background: $color-neutral-400;
        opacity: .2;
      }
    }
  }

  h2 {
    position: relative;
    padding-left: to_vw(12);
    @include fontSize(18, 27);
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: to_vw(4);
      height: 100%;
      background: $color-neutral-200;
    }

    & + * {
      margin: to_vw($space-200) 0;
    }
  }

  h3 {
    @include fontSize(16, 24);
    font-weight: 600;

    & + * {
      margin: to_vw($space-200) 0;
    }
  }

  strong {
    display: block;
    margin: to_vw($space-200) 0;
    @include fontSize(14, 21);
  }

  .itemList {
    margin: to_vw($space-100) 0;

    li {
      position: relative;
      padding-left: to_vw(12);
      @include fontSize(14, 21);

      strong {
        display: initial;
      }

      &::before {
        content: '·';
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  pre {
    margin: to_vw($space-200) auto to_vw($space-500);
    padding: to_vw($space-200);
    width: calc(100% - to_vw($space-400));

    @include media(false, tablet) {
      @include fontSize(12, 21);
    }
  }
}

.imgBox {
  display: flex;
  gap: to_vw($space-200);

  img {
    width: auto;
    height: to_vw(150);
    object-fit: cover;
  }

  @include media(fasle, mobile) {
    width: 100%;
    height: auto;
  }
}

.uk-lightbox-items-fit>*>:not(iframe) {
  @include media(fasle, mobile) {
    width: 100%;
    height: auto;
  }
}

.bgTxt {
  padding: 0 to_vw(4);
  margin: 0 to_vw(2);
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #efefef;
  font-weight: 600;
  color: tomato;
}