@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

$default-mass-img-size: 74px;

.wrap {
  overflow: hidden;
  position: relative;
  width: 530px;
  min-height: 220px;
  height: 100%;
}

.figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.massWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  > img {
    position: absolute;
    height: auto;
    object-fit: cover;
    backface-visibility: hidden;
  }
}

.massItem {
  &01 { display: none; }

  &02 {
    top: -20%;
    left: 50%;
    width: 48px;
  }

  &03 {
    left: 20.5%;
    top: 48%;
    width: 48px;
    transform: rotate(6deg);
  }

  &04 { display: none; }

  &05 {
    top: -10%;
    right: 10%;
    width: $default-mass-img-size;
    z-index: -1;
  }

  &06 {
    right: -8%;
    top: 0;
    width: $default-mass-img-size;
  }

  &07 {
    right: 12%;
    bottom: -6%;
    z-index: 2;
    width: 88px;
  }

  &08 {
    right: 18%;
    bottom: 48%;
    width: 28px;
  }

  &09 { display: none; }

  &10 {
    left: 2%;
    bottom: 0;
    width: $default-mass-img-size;
  }
}

@include media(false, tablet) {
  .wrap {
    width: 100%;
    height: 33vh;
  }
}

@include media(false, mobile) {
  $default-mass-img-size: 48px;

  .wrap {
    height: 20vh;
  }

  .massItem {
    &02 { display: none; }
    &03 { width: 36px; }
    &05 { width: $default-mass-img-size; }
    &06 { width: $default-mass-img-size; }
    &07 { width: $default-mass-img-size; }
    &08 {
      right: 17%;
      bottom: 30%;
      width: 20px;
    }
    &10 { width: $default-mass-img-size; }
  }
}