@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.gridItem {
  overflow: hidden;
  position: relative;
  background: $bg-muted;

  > div {
    position: relative;
    width: fit-content;
  }

  a {
    display: block;
    height: 100%;
    position: relative;

    @include media($from: tablet) {
      &:hover {
        .desc {
          * {
            color: $text-subtle;
          }
        }
      }
    }

    > span {
      position: relative;
      z-index: 1;
      font-family: $font-suit;
      font-size: 48px;
    }
  }

  @include media(false, tablet) {
    background: $bg-subtle;
  }
}

.content {
  position: relative;
  z-index: 2;

  .desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    * {
      transition: color .4s cubic-bezier(.25, .46, .45, .94);
      font-size: 14px;
      color: $bg-muted;
    }

    .title {
      display: flex;
      gap: 3px;
    }
  }

  img {
    opacity: 0;
    visibility: hidden;
  }

  @include media(false, tablet) {
    .desc {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: static;
      padding: 3px 6px;

      em {
        order: 2;
      }

      * {
        color: $text-default;
      }
    }

    img {
      display: none;
    }
  }
}