@charset "UTF-8";
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.gridButtonBox {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid $border-subtle;

  @include media($from: tablet) {
    &:hover {
      .button {
        &.selected {
          background: transparent;
        }
      }
    }
  }

  @include media(false, tablet) {
    border-top: 1px solid $border-dark;
    border-bottom: 1px solid $border-dark;
  }
}

.buttonWrap {
  overflow: hidden;
  position: relative;

  &:nth-of-type(odd) {
    border-right: 1px solid $border-subtle;
  }

  &:nth-of-type(n+3) {
    border-top: 1px solid $border-subtle;
  }

  @include media(false, tablet) {
    &:nth-child(odd) {
      border-right: 1px solid $border-dark;
    }

    &:nth-child(n+3) {
      border-top: 1px solid $border-dark;
    }
  }
}

.button {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  text-align: left;
  text-decoration: underline;
  opacity: 0.5;
  transition: all .4s;
  font-size: 14px;
  font-weight: 500;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &.selected {
    background: $bg-muted;
    opacity: 1;
  }

  .buttonText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6px;
    font-family: $font-suit;
  }

  @include media($from: tablet) {
    &:not(.selected):hover {
      opacity: .8;
    }
  }

  @include media(false, tablet) {
    font-size: 13px;
    opacity: 1;

    &::before {
      padding-bottom: 25%;
    }

    &.selected {
      background: $text-default;

      .buttonText {
        color: $bg-subtle;
      }
    }

    .buttonText {
      padding-left: 12px;
    }
  }
}