@charset "UTF-8";

// Font
$font-system: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$font-suit: "SUIT Variable", sans-serif;
$font-jetbrains: "JetBrains Mono", sans-serif;
$font-google-sans-code: "Google Sans Code", sans-serif;

// Base
$font-size: 0;
$fontSize-default: 16;

// BG Color
$background-color-pc: #ffffff;
$background-color-mo: #fafafa;

// Font Color
$font-color-default: #101010;

// Grid
$gridCntP: 12;
$gridCntT: 8;
$gridCntM: 4;
$gridGap: 12;
$gridMargin: 50;

// Color
$color-white: #ffffff;
$color-black: #0a0a0a;
$color-blue: #caecff;
$color-neutral-50: #fafafa;
$color-neutral-100: #f5f5f5;
$color-neutral-200: #e5e5e5;
$color-neutral-300: #d4d4d4;
$color-neutral-400: #a3a3a3;
$color-neutral-500: #737373;
$color-neutral-600: #525252;
$color-neutral-700: #404040;
$color-neutral-800: #262626;
$color-neutral-900: #171717;

// Space
$space-50: 3;
$space-100: 6;
$space-200: 12;
$space-300: 18;
$space-400: 24;
$space-500: 30;
$space-600: 36;
$space-700: 42;
$space-800: 48;
$space-900: 54;
$space-1000: 60;
$space-2000: 120;

// Border
$border-100: #f1f1f1;
$border-200: #e5e5e5;
$border-300: #d4d4d4;
$border-500: #737373;